header .header {
    width: 1519px; 
    height: 750px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

header .header .navbar {
    background-color:black;
}

header .header .navbar a{
    text-decoration: none;
}

header .header .navbar a:hover{
    text-decoration: underline white;
}

/* Input style */

header .header .navbar form input[type="text"] {
    border-bottom: none;
    border-radius: 10px; 
    padding:0.2rem 0 0.4rem 0.8rem; 
    outline: none;
    background-color: black;
    color:white;
}


/*  */

header .header .navbar form .btn {
    color:rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
    padding-bottom: 0.3rem;
}

header .header .navbar form .btn:hover {
    color: whitesmoke;
    background-color: black;
}

header .header .container .paragraphe p {
    position: absolute; 
    top: 50%; 
    left:10%; 
    font-size:3rem; 
    text-transform: uppercase; 
    font-family:'Courier New', Courier, monospace; 
    color: #EDE3A1;
    background-image: -webkit-linear-gradient(180deg, #f1e69b, #E7E3CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }